body {
	background-color: #55acee;
	color: white;
	text-align: center;
	margin-top: 60px;
	font-family: 'Lato', sans-serif;
	word-spacing: 6px;
	
}
h1 {
	margin-bottom: 90px;
	letter-spacing: 1px;
}
h4, h5 {
	font-weight: 200;
}
.trigger {
	display: block;
	margin: auto;
	margin-bottom: 32px;
	margin-top: 90px;
	background-color: #55acee;
	color: white;
	font-family: 'Lato', sans-serif;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 120px;
	font-size: 13px;
}
.tweet {
	display: block;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	width: 314px;
	height: 16px;
	margin: auto;
	font-size: 13px;
}
a:link {
	color: white;
}
.fa fa-twitter {
	font-size: 19px;
}